<!-- Encabezado con un fondo atractivo y tipografía llamativa -->
<header style="background-color: #2C3E50; color: white; padding: 20px 0; text-align: center;">
  <h1 style="font-size: 48px; font-weight: bold;">Bienvenido a la Gestión de Operaciones</h1>
  <p style="font-size: 18px;">¡Realiza tus operaciones de manera eficiente!</p>
</header>

<!-- Navegación mejorada con estilos para hover -->
<nav style="background-color: #34495E; padding: 10px; text-align: center;">
  <a routerLink="/component/home" style="color: white; margin: 0 15px; font-size: 18px; text-decoration: none;">Inicio</a>
  <a routerLink="/component/operaciones" style="color: white; margin: 0 15px; font-size: 18px; text-decoration: none;">Operaciones</a>

</nav>

<!-- Router outlet para el contenido dinámico -->
<router-outlet></router-outlet>

<!-- Footer estilizado -->
<footer style="background-color: #2C3E50; color: white; padding: 10px; text-align: center; margin-top: 20px;">
  <p>&copy; 2024 Página Web - José LLivichushca</p>
</footer>